* {
    margin:0;
    padding:0;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0b666;
}
.logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100px;
    height: 100px;

}


.hamburger_label {
    display: none;

}

#toggle {
    display: none;
}
.nav-title {
    font-size: 2.2em;
    color: #1f4590;
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   padding-right: 50px;
   font-size: 1.4em;
   
}
.nav-menu a{
    text-decoration: none;
    padding-left: 1rem;
    color: #1f4590;
}

main {
    background-color: #e2e2e2;
}

/** media queries **/

@media only screen and (max-width: 1000px) {
    .hamburger_label {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        position: absolute;
        
        
    }
    
    .nav-menu {
        display: none;
    }
    .nav-menu a{
        display: block;
    }
    #toggle:checked + .nav-menu {
        display: flex;
        flex-direction: column;
    }
}