:root {

    --font: 'Lato', sans-serif ;

    /** color **/
    --black: #000000;
    --silver: #e2e2e2;
    --blue: #251977;
    --yellow: #FEC814;
    --white: #ffff;
    --font-family: ;

    /** font sizes **/
    
    --fs-big: 2.5rem;
    --fs-title: 2.2rem;
    --fs-medium: 1.125rem;
    --fs-smlogo: 2rem;
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-professor:2.2rem;
}

/**  start for media queries for fonts only **/
@media (max-width: 1500px) {
    :root {
        --fs-big: 2.2rem;
        --fs-title: 1.8rem;
        --fs-medium: 1.4rem;
        --fs-h1: 3.3rem;
        --fs-h2: 2.4rem;    
    }
}

@media (max-width: 1379px) {

    :root {
        --fs-professor: 1.8rem;
    }
    
}

@media (max-width: 1250px) {
    :root {
        --fs-big: 2rem;
        --fs-title: 1.4rem;
        --fs-medium: 1.2rem;
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-table: 1.3rem
    }
}

@media (max-width: 1050px) {
    :root {
        --fs-big: 2.3rem;
        --fs-title: 1.4rem;
        --fs-medium: 1.4rem;
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-smlogo: 3rem;
        --fs-table: 1.1rem;
        --fs-professor: 1.8rem;
    }
}



@media (max-width: 600px) {
    :root {
        --fs-big: 1.3rem;
        --fs-title: 1.1rem;
        --fs-medium: 1.3rem;
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-smlogo: 3rem;
    }
}
/**  end for media queries for fonts only **/


* {
    margin:0;
    padding: 0;
    }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    }
    
/** index.html start **/

html {
    font-family: var(--font);
}


/** navigation **/

.logo {
    width: 5vw;

} 

.header {
    background: var(--blue);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s; 
}

.navlogo_title {
    display: flex;
    align-items: center;
    position: relative;
}

.navlogo_title p {
    font-size: var(--fs-big);
    color: var(--white);

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.1s;
    padding-right: 20px;
}

.menu li {
    list-style: none;

}

.menu li a {
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    transition: 0.1s;
    font-size: var(--fs-medium);
    font-weight: semi-bold;
    
}

.menu li a:hover,
.menu li a.active {
    background: white;
    color: var(--blue);
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background:var(--white);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.1s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--white);
    border-radius: 10px;
    transition: 0.1s;

}

.hamburger:before {
    top: -10px;
    width: 30px
}

.hamburger:after {
    top: 10px;
    width: 30px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked ~ .hamburger {
    background: transparent;
}
    
.navigation input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(135deg);
    width: 30px;
}

.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(-135deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    right: 0;

}

.front_img img {
    width: 100%;
    max-height: 300px;
    
}

.main_ctas, 
.explore,
.explore_container1,
.explore_container2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.special_events_cta, 
.exhibitions_cta, 
.visit_us_cta, 
.help_us_cta {
    position: relative;
    flex: 1;
    margin: 20px 10px;
   
}

.explore {
    position: relative;
    flex: 1;
    margin: 20px;
    
}

.explore_for_kids, 
.explore_for_teachers, 
.explore_for_ysc, 
.explore_for_researchers {
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 380px;
}

.main_ctas a {
    background-color: var(--yellow);
    color: var(--blue);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
   
}

.main_ctas a p {
    
    font-size: var(--fs-title);
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    
}

.main_ctas img {
    width: auto;
    display: block;
    
}

.main_ctas :hover{
    color: var(--white);
    background-color: var(--blue);
}

.special_events_cta img,
.exhibitions_cta img,
.visit_us_cta img,
.help_us_cta img {
    width: 100%;
}

.h1_index {
    display: block;
    justify-content: center;
    width: 90%;
    margin: auto; 
}

h1 {
    text-align: center;
    padding: 10px 0;
    background: var(--blue);
    color: var(--yellow);
    font-size: var(--fs-h1);
    margin: 10px 10px;
}

h2 {
    text-align: center;
    color: var(--yellow);
    font-size:var(--fs-h2);
    padding: 10px;

}

h3 {
    text-align: center;
    color: var(--yellow);
    font-size: var(--fs-h3);
}

.explore_container1 p,
.explore_container2 p {
    font-size: var(--fs-medium);
    color: var(--yellow);
    padding: 20px;
    text-align: center;

}

.explore_for_kids,
.explore_for_ysc,
.explore_for_teachers,
.explore_for_researchers {
    background-color: var(--blue);
    margin: 10px;
}

/** index.html stop **/


/** visit.html start **/

.visit_h1 {
    background: var(--blue);
    margin: 20px 0px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin: auto;
}

.grid-container p {
    font-size: var(--fs-medium);
   padding: 20px;
}

.grid-container h3 {
    font-size: var(--fs-h3);
    text-align: center;
    padding: 10px;
}

.grid-item1, 
.grid-item2, 
.grid-item3, 
.grid-item4, 
.grid-item5, 
.grid-item6  {
      background: var(--blue);
      color: var(--yellow);   
}



.google_map iframe {
    display: flex;
    margin: auto;
    width: 80%;
    height: 200px;
    border: none;
}

/** visit-html stop **/

/** exhibitions.html start **/

.exhibitions_group {
    width: 90%;
    margin: auto;
}

.exhibitions_group p {
    font-size: var(--fs-medium);
    color: var(--yellow);
    padding: 20px;
}

.exhibitions_group img {
    width: 45%;
    height: auto;

}

.cosmology,
.evolution,
.biology_medicine,
.robotics_AI,
.ecology {
    display: flex;
    align-items: left;
    background: var(--blue);
    width: 100%;
    margin: 20px 0px;
    
}

/** exhibitions.html stop **/

/**  specialevents.html start **/

.special_events_group {
    width: 80%;
    margin: auto;
}

.special_events_group p {
    font-size: var(--fs-medium);
    color: var(--yellow);
    padding: 20px;
}

.special_events_group img {
    width: 45%;
    height: auto;

}

.professor,
.night_museum,
.Energetica {
    display: flex;
    align-items: center;
    background: var(--blue);
    width: 100%;
    margin: 20px 0px;
    
}


/**  specialevents.html stop **/

/** help_us.html start **/

.help_us_containers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.internship,
.volunteer,
.support {
     margin: 10px;
     padding: 20px;
     font-size: var(--fs-medium);
     color: var(--yellow);
     background-color: var(--blue);
     
                       
}

.internship h3,
.volunteer h3,
.support h3 {
    margin: 10px;

}

.help-us-cta {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.help-us-cta a {
    text-decoration: none;
    font-size: var(--fs-medium);
    color: var(--blue);
    background-color: var(--yellow);
    padding: 10px 30px;
}

.help-us-cta a:hover {
    color: var(--yellow);
    background-color: var(--blue);
    opacity: 100%;
    
}


/** help_us stop **/

/** about.html start **/

.about_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    width: 90%;
    margin: auto;
}

.about_container p{
    color: var(--yellow);
    font-size: var(--fs-medium);
    padding: 30px;
}

.about_container img{
    width: 40%;
    height: auto;
}
    
/** about.html stop **/

/** contact.html start **/

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    width: 450px;
    margin: auto;
}

.contact_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--yellow);
    font-size: var(--fs-medium);
    padding: 10px;
}

.contact_input {
    border: none;
    color: var(--yellow);
    font-size: var(--fs-medium);
    height: 40px;
    width: 400px;
}

.contact_label_message {
    display: flex;
    justify-content: center;
    color: var(--yellow);
    font-size: var(--fs-medium);
    padding: 10px;
}

.contact_input_message {
    border: none;
    color: var(--yellow);
    font-size: var(--fs-medium);
    height: 100px;
    width: 400px;
}

.contact_submit {
    padding: 30px;
}

.contact_submit a{
    text-decoration: none;
    font-size: var(--fs-medium);
    color: var(--blue);
    background-color: var(--);
    padding: 10px 30px;
}

.contact_submit a:hover {
    color: var(--yellow);
    background-color: var(--blue);
    opacity: 100%;
}

/** contact-html stop **/


/** Footer start **/

footer {
    background: var(--blue);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.footer_contact {
    padding: 10px
}

.footer_contact a {
    color: var(--yellow);
    text-decoration: none;
    font-size: var(--fs-medium);
}

.footer_contact p {
    color: var(--yellow);
    font-size: var(--fs-medium);
}

.social_media_icons {
    
    margin-right: 10px;
}

.social_media_icons a  {
    text-decoration: none;
    color: var(--yellow);
    font-size: var(--fs-smlogo);
    padding: 3px;
}


/** Footer stop **/

/** media queries **/

@media screen and (min-width: 1920px) {
    main {
        max-width: 1920px;
        }
 
}

@media (max-width: 1400px) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-gap: 20px;
        
      }

    .grid-item {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: var(--blue);
    }
  
    .grid-item2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
      background-color: var(--blue);
    
  }
  
  .grid-item3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;
      background-color: var(--blue);
  }
  
  .grid-item4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
      background-color: var(--blue);
  }
  
  .grid-item5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    
      background-color: var(--blue);
  }
  
  .grid-item6 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;

      background-color: var(--blue);
  }

  .google_map iframe {
    display: flex;
    margin: auto;
    height: 400px;
  
}

.exhibitions_group,
.special_events_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.exhibitions_group img {
    width: 100%;
    height: fit-content;

}

.special_events_group img {
    width: 100%;
    height: auto;

}

.professor h3 {
    font-size:var(--fs-professor);
}


.evolution,
.robotics_AI,
.night_museum
 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.cosmology,
.biology_medicine,
.ecology,
.Energetica,
.professor {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0;
}

.about_container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.about_container img {
    width: 80%;
}

  }


@media screen and (max-width: 1250px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 30px;
      }

}

@media screen and (max-width: 1050px) {
    
    .header {
        height: 15vw;
    }

    .logo {
        width: 14vw;
    }
   
    .hamburger,
    .toggle-menu {
        display: block;
        margin-right: 10px;
    }
   
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -340px;
        background: var(--blue);
        width: 100px;
        height: 100%;
        padding-top: 80px;
    }

    .menu li {
        width: 100%;
    }
  
    .menu li a {
        font-size: var(--fs-medium);
    }

    .special_events_cta, .exhibitions_cta, .visit_us_cta, .help_us_cta {
        flex: 100%;
        max-width: 200px;
        
    }

    .explore_for_kids, .explore_for_teachers, .explore_for_ysc, .explore_for_researchers {
        flex: 100%;
        max-width: fit-content;
    }

    main {
        margin: 0;
    }

    .front_img img {
        height: 150px;
    }

    .main_ctas {
        justify-content: center;
         
    }
   
    .special_events_cta, .exhibitions_cta, .visit_us_cta, .help_us_cta {
        margin: 1vh;
    }

    .help_us_containers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%; 
    }

}

@media (max-width: 1000px) {

    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        
      }

      .grid-item {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: var(--blue);
    }
  
    .grid-item2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
      background-color: var(--blue);
  }
  
  .grid-item3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
      background-color: var(--blue);
  }
  
  .grid-item4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
      background-color: var(--blue);
  }
  
  .grid-item5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    
      background-color: var(--blue);
  }
  
  .grid-item6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;

      background-color: var(--blue);
  }

  .google_map iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 250px;

}

.about_container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.about_container p{
    padding: 10px 20px;
}

.about_container img {
    width: 100%;
}

}

@media screen and (max-width: 900px) {

.special_events_cta, .exhibitions_cta, .visit_us_cta, .help_us_cta {
    flex: 100%;
    max-width: 300px;
    
}

.exhibitions_group,
.special_events_group {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}


}

@media screen and (max-width: 800px) {
    
    .help_us_containers {
        width: 100%;
        
    }
}



@media screen and (max-width: 590px) {

    .main_ctas {
        width: 100%;
        
    }

    .special_events_cta, .exhibitions_cta, .visit_us_cta, .help_us_cta {
        flex: 100%;
        max-width: 160px;
        
    }

}

@media screen and (max-width: 500px) {
    footer {
        background: var(--blue);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
     
    }

    .contact_form {
        width: 90%;
    }

    .contact_input {
        border: none;
        color: var(--yellow);
        font-size: var(--fs-medium);
        height: 40px;
        width: 100%;
    }

    .contact_input_message {
        border: none;
        color: var(--yellow);
        font-size: var(--fs-medium);
        height: 200px;
        width: 100%;
    }
}

